import React from 'react';

{{#if wantStyleJs}}
import { {{ properCase name }}Container } from './style';

{{/if}}
class {{ properCase name }} extends React.{{ type }} {
  render() {
    return (
    {{#if wantStyleJs}}
      <{{ properCase name }}Container>
        {/*Todo : Create {{ properCase name }}*/}
      </{{ properCase name }}Container>
    {{else}}
      <div>
        {/*Todo : Create {{ properCase name }}*/}
      </div>
    {{/if}}
    );
  }
}

export default {{ properCase name }};
